/* START_HIGHLIGHT */
.albums {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 60px;
  }
  .show_image {
    width:  120px;
    height: 120px;
  }
  .div_info {
    float:left;
    width:300px;
  }
  .div_tracklist {
    float:left;
  }
  .pealkiri {
	font-weight:  bold;
	font-size:    larger;
  }
  .list_description {
    width: 40%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #F7F2E0;
  }

  .list_line_odd {
    background:   #BDBDBD;
  }
}
/* END_HIGHLIGHT */
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
.ilus th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.ilus th .asc { 
  background-image: url(/assets/images/up_arrow.gif); 
}

.ilus th .desc { 
  background-image: url(/assets/images/down_arrow.gif); 
}