/* START_HIGHLIGHT */
.albums {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  60px;
    height: 70px;
  }
  .pealkiri {
	font-weight:  bold;
	font-size:    larger;
  }
  .list_description {
    width: 40%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }

  .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
  }

  .list_line_even {
    background:   #F7F2E0;
  }

  .list_line_odd {
    background:   #BDBDBD;
  }
}
/* END_HIGHLIGHT */